<!DOCTYPE html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
  	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<title>Inicio</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<ul>
		<li>
			<a class="active" href="/">Inicio</a>
		</li>
		<hr>Educação
		<li>
			<a href="/cadastroSolicitacao">Escolas</a>
		</li>
		<li>
			<a href="/listaSolicitacoes">Transporte Escolar</a>
		</li>
		<hr>Saúde
		<li>
			<a href="/">Consulta Médica</a>
		</li>
		<li>
			<a href="/">Postos de Saúde</a>
		</li>
		<hr>Infraestrutura
		<li>
			<a href="/cadastroSolicitacao">Cadastrar Solitação</a>
		</li>
		<li>
			<a href="/cadastroSolicitacao">Listar Solitação</a>
		</li>
		<li>
			<a href="/listaProdutos">Coleta de Lixo</a>
		</li>
	</ul>
	
	<div style="margin-left:21%;padding:1px 16px;height:1000px;">
		<h1>City in System</h1>
		
		<h2>A cidade na palma da mão aqui nesse sistema</h2>
	</div>
</body>
</html>